<!-------------------------------------start navbar------------------------------------->
<div class="navbar row">


  <!-------------------------------------start navbar title------------------------------------->
  <div class="navbar-title">Game Plan</div>
  <!-------------------------------------end navbar title------------------------------------->


  <!-------------------------------------start navbar dropdown------------------------------------->
  <div class="navbar-dropdown">
    <a href="#" class="row">

      <span class="col-2">
        <img src="../../assets/images/icon_Switcher_HiFi@2x.png" alt="account icon">
      </span>

      <span class="col-9">
        <p>Accont Switcher</p>
        <p>Category 99</p>
      </span>

      <span>
        <img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="dropdown icon">
      </span>

    </a>
  </div>
  <!-------------------------------------end navbar dropdown------------------------------------->
</div>
<!-------------------------------------end navbar------------------------------------->



<!-------------------------------------start divider------------------------------------->
<div class="divider"></div>
<!-------------------------------------start divider------------------------------------->



<!-------------------------------------start tabs------------------------------------->

<div class="taps row">
  <ul>
    <li class="taps-item">
      <a [routerLink]="[ '/levels']" routerLinkActive=".active-tap">Levels</a>
    </li>
    <li class="taps-item">
      <a [routerLink]="[ '/challenges']" routerLinkActive=".active-tap">Challenges</a>
    </li>
    <li class="taps-item">
      <a [routerLink]="[ '/quests']" routerLinkActive=".active-tap">Quests</a>
    </li>
  </ul>
</div>
<!-------------------------------------end tabs------------------------------------->



<!-------------------------------------start search bar------------------------------------->
<div class="search-bar row">

  <!-------------------------------------start filter------------------------------------->
  <a href="#" class="filter">
    <span class="row">
      <span class="filter-icon">
        <img src="../../assets/images/icon_Filter-LoFi_20px@2x.png" alt="filter icon">
      </span>
      <span>Filter</span>
      <span><img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="filter icon"></span>
    </span>
  </a>
  <!-------------------------------------end filter------------------------------------->



  <!-------------------------------------start sort------------------------------------->
  <a href="#" class="sort">
    <span class="row">
      <span class="sort-icon">
        <img src="../../assets/images/icon_Sort-LoFi_20px@2x.png" alt="sort icon">
      </span>
      <span>Sort</span>
      <span><img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="sort icon"></span>
    </span>
  </a>
  <!-------------------------------------end sort------------------------------------->


  <!-------------------------------------start search------------------------------------->
  <a href="#" class="search">
    <span class="row">
      <span class="search-icon">
        <img src="../../assets/images/icon_Search-LoFi_20px@2x.png" alt="search icon">
      </span>
      <span>Search</span>
    </span>
  </a>
  <!-------------------------------------end search------------------------------------->
</div>
<!-------------------------------------end search bar------------------------------------->
