/*****************start navbar**********************/
.navbar {
  width: 107%;
  height: 72rem;
  position: relative;

  /*****************start navbar title**********************/
  .navbar-title {
    display: flex;
    align-items: center;
    width: 90rem;
    height: 72rem;
    color: var(--dark-black);
  }

  /*****************end navbar title**********************/


  /*****************start navbar dropdown**********************/
  .navbar-dropdown {
    position: relative;

    button {
      position: absolute;
      right: 0rem;
      border: none;
      max-width: 210rem;
      height: 72rem;
      width: 100%;
      height: 100%;
      padding: 20rem 30rem 20rem 20rem;
      background-color: var(--primary-bg-color);
      font-family: var(--primary-font-family);
      cursor: pointer;

      //account icon
      :nth-child(1) {
        width: 32rem;
        height: 32rem;
      }

      //Account Switcher
      :nth-child(2) {
        p:first-child {
          width: 78rem;
          height: 12rem;
          font-size: 9rem;
          font-weight: 500;
          color: var(--lite-black);
        }

        //Category 99
        p:last-child {
          width: 88rem;
          height: 20rem;
          font-size: 14rem;
          font-weight: 500;
          color: var(--dark-black);
        }
      }

      //dropdown icon
      :nth-child(3) img {
        position: absolute;
        right: 0rem;
        top: 15rem;
        width: 14rem;
        height: 14rem;
      }
    }
  }
}

/*****************end navbar dropdown**********************/



/*****************start divider**********************/
.divider {
  border-bottom: 2rem solid var(--secondry-bg-color);
  width: 107%;
  position: absolute;
  left: 0;
}

/*****************end divider**********************/



/*****************start taps**********************/

.active-tap {
  border-bottom: 2rem solid var(--blue);

  a {
    color: var(--blue);
  }
}

.taps {
  height: 49rem;
  margin-top: 75rem;
  margin-bottom: 33rem;
  cursor: pointer;

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 49rem;
        margin-right: 9.8rem;
        text-decoration: none;
        color: var(--lite-black);
      }

      &:hover {
        @extend .active-tap;
      }

      //Levels link
      &:nth-child(1) {
        a {
          width: 48rem;
        }
      }

      //Challenges link
      &:nth-child(2) {
        a {
          width: 101.11rem;
        }
      }

      //Quests link
      &:nth-child(3) {
        a {
          width: 55rem;
          margin-right: 0;
        }
      }
    }
  }
}

/*****************end taps**********************/
