<!-------------------------------------start navbar------------------------------------->
<div class="navbar row justify-content-between">


  <!-------------------------------------start navbar title------------------------------------->
  <div class="navbar-title col-4">Game Plan</div>
  <!-------------------------------------end navbar title------------------------------------->




  <!-------------------------------------start navbar dropdown------------------------------------->
  <div class="navbar-dropdown">
    <button class="dropdown-btn row">

      <span class="col-4">
        <img src="../../assets/images/icon_Switcher_HiFi@2x.png" alt="account icon">
      </span>

      <span class="col-7">
        <p>Accont Switcher</p>
        <p>Category 99</p>
      </span>

      <span class="col-1">
        <img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="dropdown icon">
      </span>

    </button>

  </div>
  <!-------------------------------------end navbar dropdown------------------------------------->


</div>
<!-------------------------------------end navbar------------------------------------->



<!-------------------------------------start divider------------------------------------->
<div class="divider"></div>
<!-------------------------------------start divider------------------------------------->



<!-------------------------------------start tabs------------------------------------->

<div class="taps row align-items-center">
  <ul class="col-12">
    <li class="taps-item">
      <a [routerLink]="['levels']" routerLinkActive="active-tap">Levels</a>
    </li>
    <li class="taps-item">
      <a [routerLink]="['challenges']" routerLinkActive="active-tap">Challenges</a>
    </li>
    <li class="taps-item">
      <a [routerLink]="['quests']" routerLinkActive="active-tap">Quests</a>
    </li>
  </ul>
</div>
<!-------------------------------------end tabs------------------------------------->



<!-------------------------------------start search bar------------------------------------->
<app-search></app-search>
<!-------------------------------------end search bar------------------------------------->

<router-outlet></router-outlet>