<!-------------------------------------start navbar------------------------------------->
<div class="navbar row">


  <!-------------------------------------start navbar title------------------------------------->
  <div class="navbar-title">Game Plan</div>
  <!-------------------------------------end navbar title------------------------------------->


  <!-------------------------------------start navbar dropdown------------------------------------->
  <div class="navbar-dropdown">
    <a href="#" class="row">

      <span class="col-2">
        <img src="../../assets/images/icon_Switcher_HiFi@2x.png" alt="account icon">
      </span>

      <span class="col-9">
        <p>Accont Switcher</p>
        <p>Category 99</p>
      </span>

      <span>
        <img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="dropdown icon">
      </span>

    </a>
  </div>
  <!-------------------------------------end navbar dropdown------------------------------------->
</div>
<!-------------------------------------end navbar------------------------------------->
<div class="devider"></div>