<div class="row">
  <!-------------------------------------start sidebar------------------------------------->
  <aside class="col-4 col-md-3">
    <div class="sidebar">
      <!-------------------------------------start sidebar items------------------------------------->
      <ul>
        <li>
          <a class="logo" [routerLink]="['/']">
            <span>
              <img class="icons" src="../assets/images/icon_Logo-M@2x.png" alt="gameball logo">
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/dashboard']" routerLinkActive="sidebar-active-link">
            <span>
              <img class="icons" src="../assets/images/icon_Dashboard_HiFi-M_InActive@2x.png" alt="dashbord icon">
            </span>
            Dashboard
          </a>
        </li>

        <li>
          <a [routerLink]="['/gameplan']" routerLinkActive="sidebar-active-link">
            <span>
              <img class="icons" src="../assets/images/icon_GamePlan_HiFi-M_Active@2x.png" alt="game plan icon">
            </span>
            Game Plan
          </a>
        </li>

        <li>
          <a [routerLink]="['/levels']" routerLinkActive="sidebar-active-link">
            <span>
              <img class="icons" src="../assets/images/rocket@2x.png" alt="levels icon">
            </span>
            Levels
          </a>
        </li>
        <!-- start account settings link -->
        <li>
          <a [routerLink]="['/account']" routerLinkActive="sidebar-active-link">

            <span class="row">

              <span class="col-2 avatar">
                <img class="icons" src="../assets/images/Avatar@2x.jpg" alt="account avatar">
              </span>

              <span class="col-10">
                <span class="username">Hello, Anne!</span>
                <span class="account">Account Settings</span>
              </span>
            </span>
          </a>
        </li><!-- end account settings link -->
      </ul>
      <!-------------------------------------end sidebar items------------------------------------->
    </div>
  </aside>
  <!-------------------------------------end sidebar------------------------------------->


  <!-------------------------------------start content------------------------------------->
  <div class="col-8 col-md-9 content">
    <router-outlet></router-outlet>
  </div>
  <!-------------------------------------end content------------------------------------->
</div>
