/*****************start search bar**********************/
.search-bar {
  width: 104%;
  height: 52rem;
  background-color: var(--secondry-bg-color);
  position: relative;
  border-radius: 4rem;

  button {
    border: none;
    height: 100%;
    font-size: 12rem;
    font-family: var(--primary-font-family);
    background-color: var(--secondry-bg-color);
    outline: none;
    cursor: pointer;

    .row {
      width: 75rem;
      height: 20rem;
    }
  }

  .filter-btn {
    margin: 0 32rem 0 25rem;
  }

  .search-btn {
    position: absolute;
    right: 17rem;
  }
}

/*****************end search bar**********************/
