
<!-------------------------------------start search bar------------------------------------->
<div class="search-bar row">

  <!-------------------------------------start filter------------------------------------->
  <a href="#" class="filter">
    <span class="row">
      <span class="filter-icon">
        <img src="../../assets/images/icon_Filter-LoFi_20px@2x.png" alt="filter icon">
      </span>
      <span>Filter</span>
      <span><img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="filter icon"></span>
    </span>
  </a>
  <!-------------------------------------end filter------------------------------------->



  <!-------------------------------------start sort------------------------------------->
  <a href="#" class="sort">
    <span class="row">
      <span class="sort-icon">
        <img src="../../assets/images/icon_Sort-LoFi_20px@2x.png" alt="sort icon">
      </span>
      <span>Sort</span>
      <span><img src="../../assets/images/icon_Dropdown-Down_LS@2x.png" alt="sort icon"></span>
    </span>
  </a>
  <!-------------------------------------end sort------------------------------------->


  <!-------------------------------------start search------------------------------------->
  <a href="#" class="search">
    <span class="row">
      <span class="search-icon">
        <img src="../../assets/images/icon_Search-LoFi_20px@2x.png" alt="search icon">
      </span>
      <span>Search</span>
    </span>
  </a>
  <!-------------------------------------end search------------------------------------->
</div>
<!-------------------------------------end search bar------------------------------------->
